//common
$body-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arimo, Arial, "Lucida Grande", Avenir, 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
$link: rgb(230, 43, 31);
$link-visited: rgb(230, 43, 31);
$link-hover: rgba(230, 43, 31, 0.75);
$link-focus: rgba(230, 43, 31, 0.75);
$link-active: rgba(230, 43, 31, 0.75);

$variable-columns: false;

//navbar
$navbar-height: 5rem;
$navbar-item-img-max-height: none;
$navbar-item-hover-background-color: unset;
$navbar-item-color: white;
$navbar-item-active-color: rgb(230, 43, 31);

$title-size: 2.5rem;
$title-weight: 300;
$content-heading-weight: 300;

// custom
$white-font-color: rgba(255, 255, 255, .8);
$progress-bar-color: #e62b1e;
@import '~bulma/bulma';

#nprogress .bar {
    background: $progress-bar-color;
}

#nprogress .peg {
    box-shadow: 0 0 10px $progress-bar-color, 0 0 5px $progress-bar-color;
}

#nprogress .spinner-icon {
    border-top-color: $progress-bar-color;
    border-left-color: $progress-bar-color;
}

body {
    background-color: #f5f5f5;
}

h1,h2,h3 {
    text-align: center;
    font-weight: 300;
}

hr {
    height: .25rem;
    margin: 1.5rem auto;
    max-width: 12rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-color: #e62b1e;
    background-color: unset;
}
.whitefont {
    color: $white-font-color;
}

::selection {
    background: #e62b1e98; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #e62b1e98; /* Gecko Browsers */
}